<?php $this->headTitle('Login'); ?>
<?php $escaper = new Zend\Escaper\Escaper();
$cur = date("Y-m-d");
$down = date("Y-m-d", strtotime("first thursday of " . date("F Y", strtotime(date("Y-m")))));
if ($cur === $down) {
    $hour = (int)date('G');
    if ($hour > 7 && $hour <= 9) {
        echo $this->Alert('Maintenance break today at 8-10; Kotka may be unavailable at this time.');
    }
}
?>
<noscript>
    <?php echo $this->Alert('You have to enable <strong>JavaScript</strong> in your browser in order to use Kotka.', 'danger') ?>
</noscript>
<div class="cookiesError hidden">
    <?php echo $this->Alert('You have to enable <strong>cookies</strong> (evästeet) in your browser in order to use Kotka.', 'danger') ?>
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-4">
        <div class="page-header">
            <h2>Log in using</h2>
        </div>
        <div class="form-group">
            <a href="<?php echo $this->haka?>"><img src="/img/haka.gif" style="max-width: 135px"></a>
        </div>
        <div class="form-group">
            <a href="<?php echo $this->virtu?>"><img src="/img/virtu.png" style="max-width: 135px; margin-top: 15px;"></a>
        </div>
        <div class="form-group">
            <a href="<?php echo $this->laji?>"><img style="max-width: 135px; margin-top: 15px;" src="https://login.laji.fi/static/LAJI_fisven.png"></a>
        </div>
    </div>
</div>
<?php $this->inlineScript()->appendScript('
    function are_cookies_enabled()
    {
        var cookieEnabled = (navigator.cookieEnabled) ? true : false;

        if (typeof navigator.cookieEnabled == "undefined" && !cookieEnabled)
        {
            document.cookie = "testcookie";
            cookieEnabled = (document.cookie.indexOf("testcookie") != -1) ? true : false;
        }
        return (cookieEnabled);
    }
    var cookiesOK = are_cookies_enabled();
    if (!cookiesOK)
    {
        $(".cookiesError").removeClass("hidden");
    } else {
        $("#login").removeClass("disabled");
    }
    $("#username").focus();
');
?>
